	#main article.panel {
		width: 100%;
		height: 27em;
		padding: 0;
		display: flex;
		font-size: 14pt;
	}

	.left-panel {
		width: 60%;
		padding: 1em;
	}

	.right-panel {
		width: 40%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	.center-text {
		text-align: center;
		padding: 2em;
	}

	.dialog-img {
		width: 98%;
		height: 3.5em;
		margin: 1em;
		background-size: contain;
		background-repeat: no-repeat;
	}

	.center-img {
		background-position: center;
	}

	.left-img {
		height: 6em;
		background-position: left;
	}

	.right-img {
		background-position: right;
	}

	/*
		PAGE 1 - Intro
	*/

	#intro .right-panel {
		background-image: url("../../images/cookie-ghome.jpg");
	}

	#intro .img-1 {
		background-image: url("../../images/1-hey.png");
	}

	#intro .img-2 {
		background-image: url("../../images/2-cocina.png");
		height: 7em;
	}

	/*
		PAGE 2 - Ingredients
	*/

	#ingredients .right-panel {
		background-image: url("../../images/cooking-1.jpg");
	}

	#ingredients .img-1 {
		background-image: url("../../images/bienvenido.png");
	}

	#ingredients .img-2 {
		background-image: url("../../images/quesadilla.png");

	}

	#ingredients .img-3 {
		background-image: url("../../images/ingredients.png");
		height: 11.1em;
	}

	/*
		PAGE 3 - Cook
	*/

	#cook .right-panel {
		background-image: url("../../images/cooking-4.jpg");
	}

	#cook .img-1 {
		background-image: url("../../images/paso uno.png");
		height: 7.2em;
	}

	#cook .img-2 {
		background-image: url("../../images/si.png");
		height: 3em;
	}

	#cook .img-3 {
		background-image: url("../../images/paso dos.png");
		height: 8.5em;
	}

	/*
		PAGE 4 - Research
	*/

	#research .right-panel {
		background-image: url("../../images/research.jpg")
	}

	#main article#research.panel {

	}

	#research .left-panel > h2, #research .left-panel > p {
		margin: 5%;
	}

	/*
		PAGE 5 - Video
	*/

	#main article#demo.panel {
		padding: 0;
		height: 27em;
	}

	.iframe-video {
		width: 100%;
		height: 27em;
		margin: 0;
	}
